*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-bar{
    width: 270px;
    height: 510px;
    background: linear-gradient(135deg,rgba(255,255,255,0.5),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    padding: 20px;
}

.price-range{
    text-align: center;
    margin: 10px 0 5px 0; 
 }

.date-and-time{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
