*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-body{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mumbai-goa-yachts7.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.header-and-login{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 100vh;
}

.header{
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20vh;
}

.orange-header{
    color: #F26627;
    font-size: 110px;
    font-weight: bold;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding:10px 50px 20px 50px;
    margin-right: 50px;
    width: 400px;
    height: 400px;
    margin-top: 10vh;
    border-radius: 20px;
    color: white;
    background: rgba(255,255,255,.5);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
}

.login-header{
    color: #F26627;
    text-align: center;
    margin-bottom: 10px;
}

p{
    margin-bottom: 5px;
}

.login-form > input{
    border: 2px solid #F26627;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    text-align: center;
    background:none;
    margin-bottom: 10px;
}

.forgot-password{
    text-decoration: underline;
}

.forgot-password:hover{
    cursor: pointer;
}

.login-button{
    background-color: rgb(248, 101, 3);
    border: none;
    color: white;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: ease-in-out .4s;
    margin-left: 80px;
    box-shadow: 5px 5px 5px black;
}

.login-button:hover{
    cursor: pointer;
    height: 50px;
    color: white;
}

.signup{
    color: #F26627;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.signup:hover{
    cursor: pointer;
}