*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-advertisements-body{
    width: 100%;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.my-advertisements-cards-part{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-advertisements-buy-btn{
    border: none;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.my-advertisements-btn{
    width: 40%;
}