*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.payment-body{
    width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden
}

.payment-card{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.6);
}

.tour-info-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.passenger-number-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-total-price{
    font-weight: bold;
}

.passenger-icon-and-counter{
    display: flex;
    align-items: center;
}

.payment-passenger-count{
    margin: 0 20px 0 20px;
}

.passenger-count-input{
    width: 20%;
    margin: 0;
    border: 1px solid black;
    border-radius: 0;
    width: 40px;
    height: 25px;
}

hr{
    border: 1px solid black;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form,.passenger-form,.payment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-div,.mail-div,.name-div,.lastname-div,.identity-div,.cardnumber-div,.expiredate-div,.cvc-div{
    display: flex;
    flex-direction: column;
}

.expire-and-cvc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.expiredate-div >input,.cvc-div > input{
   width: auto;
}

.box-and-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.payment-page-input{
    width: 500px;
}

.payment-btn-text{
    margin: 0;
    margin: 0 5px 0 5px;
    font-size: 15px;
    text-transform: capitalize;
}

.payment-condition-forms{
    font-weight: bold;
}

.payment-condition-forms:hover{
    cursor: pointer;
}